
{% extends 'website/index.html' %}
{% block content %}
{% load static %}

{% load static %}

<style>
  .incorporation-bg {
    background-image: url("{% static 'image/incop3.jpg' %}");
    background-size: cover;
    background-position: center;
  }
</style>

<section class="relative py-32 text-white text-center incorporation-bg">

  <div class="absolute inset-0 bg-black/70"></div>

  <div class="relative z-10 max-w-3xl mx-auto">
    <h1 class="text-5xl font-bold mb-6">US Incorporation</h1>
    <p>Launch your US business from anywhere with complete legal compliance.</p>
  </div>

</section>

<section class="py-24 bg-white">
<div class="max-w-6xl mx-auto grid md:grid-cols-2 gap-12 items-center">


<img src="{% static 'image/incop2.jpg' %}" class="rounded-xl shadow-lg">

<div>
<h2 class="text-4xl font-bold mb-6">Build Your Global Business</h2>
<p class="text-gray-600 mb-6">
We simplify company formation, compliance, and setup so you can focus on scaling your business globally.
</p>

<ul class="space-y-3 text-gray-600">
<li>✔ LLC & C-Corp formation</li>
<li>✔ EIN registration</li>
<li>✔ Bank account setup</li>
<li>✔ Ongoing compliance support</li>
</ul>

</div>
</div>
</section>

<section class="py-20 bg-blue-600 text-white text-center">
<h2 class="text-4xl font-bold">Start Your US Company Today</h2>

<a href="{% url 'contact' %}" class="bg-white text-blue-600 px-8 py-3 rounded-lg mt-6 inline-block">Get Started</a>

</section>

{% endblock %}